{% extends "orders/base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block body %}
    <div class="group">
        <h1>Cart</h1>
        {% if cart.getNumItems == 0 %}
            <div>You have no items in your Cart.</div>
        {% else %}
            <table>
                {% for selection, toppings, extras in cartItems %}
                    <tr>
                        <td>{{ selection.quantity }}</td>
                        <td>x {{ selection.size }}</td>
                        <td>"{{ selection.itemName }}" ({{ selection.itemCategory }})</td>
                        <td>@${{ selection.price }} each</td>
                        <td>= ${{ selection.subtotal }}</td>
                        {% if cartContents %}
                            <td><a href="{% url 'removeFromCart' selection.pk %}">REMOVE</a></td>
                        {% endif %}
                    </tr>

                    <!-- List toppings (if any) for pizza items -->
                    {% for topping in toppings %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>&#x25AA; {{ topping }}</td>
                            <td></td>
                            <td></td>
                            {% if cartContents %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    <!-- List extras (if any) for sub items -->
                    {% for extra in extras %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+ {{ extra }} $0.50</td>
                            <td></td>
                            {% if cartContents %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}

                <!-- Insert blank rows -->
                <tr>
                    <td><br><br></td>
                </tr>

                <!-- Display number of items in cart -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td># ITEMS: {{ cart.getNumItems }}</td>
                    {% if cartContents %}
                        <td></td>
                    {% endif %}
                </tr>

                <!-- Display total -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL = ${{ cart.getTotalPrice }}</td>
                    {% if cartContents %}
                        <td></td>
                    {% endif %}
                </tr>

                {% if cartContents %}
                    <!-- Insert a blank row -->
                    <tr>
                        <td><br></td>
                    </tr>

                    <!-- Add the Check Out button -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <form action="{% url 'confirm' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="numItems" value="{{ cart.getNumItems }}">
                                <input type="hidden" name="total" value="{{ cart.getTotalPrice }}">
                                <input class="buttonAtBottom" type="submit" value="Check Out">
                            </form>
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
    </div>

    {% if cartContents %}
        <br>

        <div class="group">
            <div class="nav">Click<a href="{% url 'index' %}">&nbsp;HERE&nbsp;</a>to return to the Menu and continue ordering.</div>
            <div class="nav">Click<a href="{% url 'logout' %}">&nbsp;HERE&nbsp;</a>to Log Out.</div>
        </div>
    {% endif %}

    {% if confirm %}
        <br>

        <div class="group">
            <h3>Confirm</h3>
            <div>
                Please Confirm that your cart above is correct (this will complete your order).<br>
                Click Cancel to return to your Shopping Cart.
            </div>

            <br>

            <form class="buttonAtBottom" id="checkoutConfirm" action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Confirm">
            </form>

            <form class="buttonAtBottom" id="checkoutCancel" action="{% url 'cartContents' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Cancel">
            </form>
        </div>
    {% endif %}

{% endblock %}
