{% extends "orders/base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block body %}
    <h1>Cart</h1>
    {% if cart.getNumItems == 0 %}
        <div>You have no items in your Cart.</div>
    {% else %}
        <table>
            {% for selection, toppings, extras in cartItems %}
                <tr>
                    <td>{{ selection.quantity }}</td>
                    <td>x {{ selection.size }}</td>
                    <td>"{{ selection.itemName }}" ({{ selection.itemCategory }})</td>
                    <td>@${{ selection.price }} each</td>
                    <td>= ${{ selection.subtotal }}</td>
                    <td><a href="{% url 'removeFromCart' selection.pk %}">REMOVE</a></td>
                </tr>

                <!-- List toppings (if any) for pizza items -->
                {% for topping in toppings %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>&#x25AA; {{ topping }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                <!-- List extras (if any) for sub items -->
                {% for extra in extras %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>+ {{ extra }} $0.50</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endfor %}

            <!-- Insert blank rows -->
            <tr>
                <td><br><br></td>
            </tr>

            <!-- Display number of items in cart -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td># ITEMS: {{ cart.getNumItems }}</td>
                <td></td>
            </tr>

            <!-- Insert a blank row -->
            <tr>
                <td><br></td>
            </tr>

            <!-- Display total -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>TOTAL = ${{ cart.getTotalPrice }}</td>
                <td></td>
            </tr>

            <!-- Insert a blank row -->
            <tr>
                <td><br></td>
            </tr>

            <!-- Add the Check Out button -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <form action="{% url 'confirm' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="numItems" value="{{ cart.getNumItems }}">
                        <input type="hidden" name="total" value="{{ cart.getTotalPrice }}">
                        <input type="submit" value="Check Out">
                    </form>
                </td>
            </tr>
        </table>
    {% endif %}

    <br>

    <div>Click <a href="{% url 'index' %}">HERE</a> to return to the Menu and continue ordering.</div>
    <div>To Log Out, click <a href="{% url 'logout' %}">HERE</a>.</div>
{% endblock %}
