{% extends "orders/base.html" %}

{% block title %}
    Confirm
{% endblock %}

{% block body %}
    <h1>Confirm</h1>

    <div># ITEMS: {{ numItems }}</div>

    <div>TOTAL = ${{ total }}</div>

    <br>

    <div>
        Please Confirm that the totals above are correct (this will complete your order).<br>
        Click Cancel to return to your Shopping Cart.
    </div>

    <br>

    <form id="checkoutConfirm" action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm">
    </form>

    <form id="checkoutCancel" action="{% url 'cartContents' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Cancel">
    </form>
{% endblock %}
