{% extends "orders/base.html" %}

{% block title %}
    Pizza
{% endblock %}

{% block body %}
    <div class="group">
        <h3>Hello, {{ user.username }}</h3>

        <ul>
            <li class="liNav"><a href="{% url 'cartContents' %}">&nbsp;CART&nbsp;</a></li>
            {% if request.user.is_superuser %}
                <li class="liNav"><a href="{% url 'orders' %}">&nbsp;RESTAURANT ORDERS&nbsp;</a></li>
                <li class="liNav"><a href="{% url 'myOrders' %}">&nbsp;MY ORDERS&nbsp;</a></li>
            {% else %}
                <li class="liNav"><a href="{% url 'myOrders' %}">&nbsp;MY ORDERS&nbsp;</a></li>
            {% endif %}
            <li class="liNav"><a href="{% url 'logout' %}">&nbsp;LOG OUT&nbsp;</a></li>
        </ul>

        <div>Click on a Menu item below to add it to your Cart.</div>
    </div>

    <br>

    <div class="group">
        <h1 style="text-decoration:underline;">Our Menu</h1>

        <br>

        <h2>Regular Pizza</h2>
        <table>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            {% for pizza in regularPizzas %}
                <tr>
                    <td><a href="{% url 'itemDetails' pizza.id %}">{{ pizza.name }}</a></td>
                    <td>${{ pizza.priceSmall }}</td>
                    <td>${{ pizza.priceLarge }}</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h2>Sicilian Pizza</h2>
        <table>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            {% for pizza in sicilianPizzas %}
                <tr>
                    <td><a href="{% url 'itemDetails' pizza.id %}">{{ pizza.name }}</a></td>
                    <td>${{ pizza.priceSmall }}</td>
                    <td>${{ pizza.priceLarge }}</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h2>Toppings</h2>
        <ul id="toppings">
            {% for topping in toppings %}
                <li>{{ topping.name }}</li>
            {% endfor %}
        </ul>

        <br>

        <h2>Subs</h2>
        <table>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            {% for sub in subs %}
                {% if sub.name == "Steak + Cheese" %}
                    <tr>
                        <td><a href="{% url 'itemDetails' sub.id %}">{{ sub.name }}</a></td>
                        <td>${{ sub.priceSmall }}</td>
                        <td>${{ sub.priceLarge }}</td>
                    </tr>
                    <tr>
                        <td>+ Mushrooms</td>
                        <td>+0.50</td>
                        <td>+0.50</td>
                    </tr>
                    <tr>
                        <td>+ Green Peppers</td>
                        <td>+0.50</td>
                        <td>+0.50</td>
                    </tr>
                    <tr>
                        <td>+ Onions</td>
                        <td>+0.50</td>
                        <td>+0.50</td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="{% url 'itemDetails' sub.id %}">{{ sub.name }}</a></td>
                        {% if sub.priceSmall == None %}
                            <td></td>
                        {% else %}
                            <td>${{ sub.priceSmall }}</td>
                        {% endif %}
                        <td>${{ sub.priceLarge }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td>Extra Cheese on any sub</td>
                <td>+0.50</td>
                <td>+0.50</td>
            </tr>
        </table>

        <br>

        <h2>Pasta</h2>
        <table>
            {% for pasta in pastas %}
                <tr>
                    <td><a href="{% url 'itemDetails' pasta.id %}">{{ pasta.name }}</a></td>
                    <td>${{ pasta.priceLarge }}</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h2>Salads</h2>
        <table>
            {% for salad in salads %}
                <tr>
                    <td><a href="{% url 'itemDetails' salad.id %}">{{ salad.name }}</a></td>
                    <td>${{ salad.priceLarge }}</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h2>Dinner Platters</h2>
        <table>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            {% for dinnerPlatter in dinnerPlatters %}
                <tr>
                    <td><a href="{% url 'itemDetails' dinnerPlatter.id %}">{{ dinnerPlatter.name }}</a></td>
                    <td>${{ dinnerPlatter.priceSmall }}</td>
                    <td>${{ dinnerPlatter.priceLarge }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
