{% extends "orders/itemDetails.html" %}

{% block extras %}
    {% if item.name != "Cheese" %}
        {% for name in namesForSelect %}
            <br><label>Topping/Item:</label>
            <select input type='text' name="{{ name }}" required>
                <option disabled selected value> -- select -- </option>
                {% for topping in toppings  %}
                    <option value="{{ topping }}">{{ topping }}</option>
                {% endfor %}
            </select>
        {% endfor %}
    {% endif %}
{% endblock %}
