{% extends "orders/base.html" %}

{% block title %}
    Item Details
{% endblock %}

{% block body %}
    <div class="group">
        <h1>{{ item.category }}: {{ item.name }}</h1>

        <form action='{% url 'addToCart' item.pk %}' method="post">
            {% csrf_token %}

            <!-- Determine pricing (some items only have one price) -->
            {% if item.priceSmall == None %}
                <label>Price:</label>
                <input type='hidden' name='itemSize' id='large' value='Large'/>
                ${{ item.priceLarge }}
            {% else %}
                <label>Price:</label>
                <input type='radio' name='itemSize' id='small' value='Small' checked='checked'/>
                <!-- 'for' attribute refers to the checkbox's id, not value -->
                <label for='small'>Small ${{ item.priceSmall }}</label>
                <input type='radio' name='itemSize' id='large' value='Large'/>
                <label for='large'>Large ${{ item.priceLarge }}</label>
            {% endif %}

            <!-- Create a block for inheritance (for items like pizzas which have extra choices) -->
            {% block extras %}{% endblock %}

            <br>

            <label>Quantity:</label>
            <input type='number' name='quantity' min='1' max='100' value=1>

            <br><br>

            <input class="buttonAtBottom" type='submit' value='Add to Cart'>
        </form>
    </div>

    <br>

    <div class="group">
        <ul>
            <li class="liNav"><a href="{% url 'index' %}">MENU</a></li>
            <li class="liNav"><a href="{% url 'cartContents' %}">CART</a></li>
            <li class="liNav"><a href="{% url 'logout' %}">LOG OUT</a></li>
        </ul>
    </div>
{% endblock %}
