{% extends "orders/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="group col-11">
        <h1>Login</h1>

        {% if message %}
            <div>
                {{ message }}
            </div>
        {% endif %}

        <form class="needsMargin" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username"/>
            <input name="password" type="password" placeholder="Password"/>
            <input type="submit" value="Login"/>
        </form>

        Click <a href="{% url 'register' %}">HERE</a> to register an account.
    </div>
{% endblock %}
