{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js'></script>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>

        {% if message %}
            <div>
                {{ message }}
            </div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username"/>
            <input name="password" type="password" placeholder="Password"/>
            <input type="submit" value="Login"/>
        </form>

        Click <a href="{% url 'register' %}">here</a> to register an account.
    </body>
</html>
