{% extends "orders/base.html" %}

{% block title %}
    Orders
{% endblock %}

{% block body %}
    <div class="group">
        <h1>Orders</h1>
        <ul>
            <li class="liNav">Click<a href="{% url 'index' %}">&nbsp;HERE&nbsp;</a>to return to the Menu.</li>
            <li class="liNav">Click<a href="{% url 'logout' %}">&nbsp;HERE&nbsp;</a>to Log Out.</li>
        </ul>
    </div>

    <br>

    <div class="group">
        {% for order in orders %}
            {{ order.0.getTotalPrice }}
        {% endfor %}
    </div>
{% endblock %}
