{% extends "orders/base.html" %}

{% block title %}
    Orders
{% endblock %}

{% block body %}
    <div class="group">
        <h1>Orders</h1>
        <ul>
            <li class="liNav">Click<a href="{% url 'index' %}">&nbsp;HERE&nbsp;</a>to return to the MENU.</li>
            <li class="liNav">Click<a href="{% url 'logout' %}">&nbsp;HERE&nbsp;</a>to LOG OUT.</li>
        </ul>
    </div>

    <br>

    {% if not orders %}
        <div class="group">There are no orders yet.</div>
    {% endif %}

    {% for order in orders %}
        {% if order.0.getNumItems != 0 %}
            <br>
            <div class="group">
                Order#: {{ order.0.selections.0.orderNumberRest }} |
                Customer: {{ order.0.selections.0.customerName }} |
                Checked out: {{ order.0.selections.0.dateTime }}

                <br><br>

                <table>
                    {% for selection, toppings, extras in order.1 %}
                        <tr>
                            <td>{{ selection.quantity }}</td>
                            <td>x {{ selection.size }}</td>
                            <td>"{{ selection.itemName }}" ({{ selection.itemCategory }})</td>
                            <td>@${{ selection.price }} each</td>
                            <td>= ${{ selection.subtotal }}</td>
                        </tr>

                        <!-- List toppings (if any) for pizza items -->
                        {% for topping in toppings %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>&#x25AA; {{ topping }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}

                        <!-- List extras (if any) for sub items -->
                        {% for extra in extras %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>+ {{ extra }} $0.50</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                    <!-- Insert blank rows -->
                    <tr>
                        <td><br><br></td>
                    </tr>

                    <!-- Display number of items in cart -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td># ITEMS: {{ order.0.getNumItems }}</td>
                    </tr>

                    <!-- Display total -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>TOTAL = ${{ order.0.getTotalPrice }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
